
<div class="container">

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Edit Post</div>
  <div class="card-body">
  <%= form_for :post, url: post_path(@post), method: :patch do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg|%>
        <div class="alert alert-danger"><%=msg%>
         <%end%>
    <%end%>
    <h5 class="card-title"> <%= f.label:title %></h5>
  
    <%= f.text_field(:title,{:class => 'form-control'}) %> 
   

    
    <p class="card-text">
    
    <h6><%= f.label :body%></h6>
    <%= f.text_area(:body,{:class => 'form-control'}) %> 
    </p>

   
    <%= f.submit ({:class => 'btn btn-primary'}) %>
  
    <%end%>
  
  
  
  </div>
</div>



    </div>